@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    cursor: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    &::before, &::after {
      box-sizing: border-box;
    }
    cursor: default;
}



/* ..................... */



@media screen and (min-width: 531px) {
.custom-cursor {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transition: width 0.5s, height 0.15s;
    backdrop-filter: blur(2px);
    background-color: rgba(126, 63, 184, 0.022);
    border: 3px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation: waterEffect 2s infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: width 0.5s, height 0.15s;
    -moz-transition: width 0.5s, height 0.15s;
    -ms-transition: width 0.5s, height 0.15s;
    -o-transition: width 0.5s, height 0.15s;
}

@keyframes waterEffect {
    0% {
        border-color: #DCD6FF;
    }
    50% {
        border-color: #6353bd;
    }
    100% {
        border-color: rgba(117, 117, 149, 0.7);
    }
}

.show-default-cursor {
    cursor: default;
}

    .btn {
        cursor: none;
    }

    .btn-download:hover {
        cursor: url('assets/download_FILL0_wght400_GRAD0_opsz24.svg') !important;
      }
}

@media screen and (max-width: 1250px) {
    .custom-cursor {
        display: none;
    }
}

/* .................... */



/* scroll to top */

.scroll-container {
    cursor: none;
}

  .scroll-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    color: #FFF;
    background-color: #232020;
    border: none;
    border-radius: 50px;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    animation: bounce 2s infinite;
    transform-origin: center;
    cursor: none;
}

.scroll-to-top:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
  }

  /* CSS for the bounce animation */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-8px);
    }
    60% {
      transform: translateY(-4px);
    }
  }
  
  /* Add hover effect to the SVG paths */
  .svg-path-1:hover, .svg-path-2:hover {
    animation: none; /* Disable the bounce animation on hover if desired */
  }
  


  @media screen and (max-width: 530px) {
    .scroll-to-top {
        bottom: 20px;
        right: 20px;
    }

    .accordion-title {
        font-size: 1rem;
    }
  }




/* ........... */

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 132px 16px 132px;
    background: #000;
}

.co-name {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
}

.contact-button {
    border-radius: 38px;
    background: #6353bd;
    backdrop-filter: blur(3px);
    padding: 9px 23px 9px 24px;

    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: none;
}



.brand-video-wrapper {
    z-index: 999;
    background: #EFF1FE;
    position: relative;
}

.brand-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.495);

}


.brand-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.amp {
    font-weight: 200;
    cursor: none;
}

.heading-wrapper {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    position: relative;
    z-index: 1;
}

.sub-heading-wrapper {
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    position: relative;
    z-index: 1;
}

.download-button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 50px;
    position: relative;
    z-index: 1;
}


.bn45 {
    width: 170px;
    height: 50px;
    cursor: none;
  }

  .bn46 {
    position: relative;
    width: 150px;
    height: 50px;
    cursor: none;
  }



/* FOLD1 */

.section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 800px;
    background: #EFF1FE;
    overflow: hidden;
}

.fold-o-right-content-wrapper {
    position: relative;
    top: 80px;
    text-align: center;
}

.fold-o-heading {
    color: #222250;
    font-family: Poppins;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding-left: 80px !important;
    padding-right: 80px !important;
    text-align: center;
}

.fold-o-sub-heading {
    display: block;
    color: #343462;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 181.5%;
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.fold-o-img {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* FOLD2 */

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 800px;
    background: #DCD6FF;
}

.fold-t-img {
    position: absolute;
    bottom: 0;
    max-width: 100%;
}

/* FOLD3 */

.section-three {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EFF1FE;
    height: 800px;
    overflow: hidden;
}



.fold-th-img {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

/* MARQUEE */

.GeneratedScroller {
    color: #222250;
    font-family: poppins;
    font-size: 1.25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
    font-weight: 700;
    background-color: #DCD6FF;
}

.GeneratedScroller span {
    padding-left: 60px;
}
  



/* FOLD4 */

.section-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 1px;
    height: 800px;
    background: #6552C4;
    text-align: center;
    overflow: hidden;
}

.fold-f-img {
    position: absolute;
    bottom: 0;
    width: 50vw;
}

.fold-f-heading {
    color: #FFF;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.fold-f-sub-heading {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 181.5%;
    padding-left: 80px !important;
    padding-right: 80px !important;
}

/* Fold 5 */

.section-five {
    display: flex;
    min-height: 705px;
    font-family: poppins;
    cursor: pointer !important;
    background-color: #f5f4fc;
}

.section-five:hover {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container h2 {
    font-size: 2rem;
}



.accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

.accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid rgba(150, 17, 198, 0.21);
}



.accordion-item button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}



.accordion-item button .accordion-title {
    padding: 1em 1.5em 1em 0;
}

.accordion-item button .icon {
    display: inline-block;
    position: absolute;
    top: 35px;
    right: 0;
    width: 22px;
    height: 22px;
    padding-left: 15px;
}

.accordion-item button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: #22225057;
}

.accordion-item button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: #22225057;
}

.accordion-item button[aria-expanded='true'] {
    font-weight: 700 !important; 
}

.accordion-item button[aria-expanded='true'] .icon::after {
    width: 0;
}

.accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
}

.accordion-item button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}



/* FOOTER */

.brand-footer {
    position: relative;
    height: 800px;
    background: #1A1A1A;
    overflow: hidden;
}

.footer-up-wrapper {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 100px;
}

.footer-heading {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 300%;
}

.footer-sub-heading {
    width: 337px;
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 181.5%;
}

.footer-down-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    overflow: hidden;

}

.company-footer-name {
    margin-top: 80px;
    color: #FFF;
    font-family: Poppins;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 181.5%;
    text-transform: uppercase;
}

.footer-sub-head {
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 181.5%;
}

.brand-img-footer {
    position: absolute;
    bottom: 0;
    width: 600px;
}

.navbar-wrappers {
    display: none;
}


.main-head-footer {
color: #FFF;
font-family: poppins;
font-size: 1.3rem;
font-style: normal;
font-weight: 500;
line-height: 181.5%;
}






@media (max-width: 937px) {

    .navbar-wrapper {
        padding: 37px 24px 37px 24px;
    }

    .brand-video-wrapper {
        padding: 0px 0px 0px 0px;
    }

    .brand-video {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
    }

    .heading-wrapper {
        font-size: 2.5rem;
        text-align: center;
    }

    .fold-o-img {
        content: url('Assets/mediaFold0.svg') !important;
    }

    .fold-t-img {
        content: url('Assets/mediaFold1.svg') !important;
    }

    .fold-th-img {
        content: url('Assets/mediaFoldV2.svg') !important;
    }

    .fold-f-img {
        width: 80vw !important;
    }

    .fold-o-heading {
        font-size: 2.9rem;
    }

    .fold-f-heading {
        font-size: 2.9rem;
    }

    .fold-f-sub-heading {
        font-size: 20px;
    }
}

@media (max-width: 769px) {
    .fold-o-heading, .fold-f-heading {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .footer-sub-heading {
        width: 230px !important;
    }
}

@media (max-width: 688px) {
    .footer-up-wrapper {
        display: flex;
        flex-direction: column;
        top: 50px;
        left: 32px;
    }

    .tab-footer-wrapper {
        position: relative;
        top: 90px;
    }

    .footer-sub-heading {
        padding-right: 0px !important;
    }
}

@media (max-width: 1410px) {
    .fold-o-heading, .fold-f-heading {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media (max-width: 688px) {
    .fold-o-heading, .fold-f-heading {
        font-size: 2.5rem;
    }

    .fold-o-sub-heading, .fold-f-sub-heading {
        position: relative;
        top: 28px;
        font-size: 16px;
        padding-left: 56px !important;
        padding-right: 56px !important;
    }
}

@media (max-width: 600px) {

    .navbar-wrapper{
        display: none;
    }

    .inside-mob-nav-wrapper {
        display: flex;
        align-items: center;
    }

    .navbar-wrappers {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 24px 14px;
        background-color: #000;
    }

    .xooper-logos {
        width: 40px;
    }

    .co-names {
        position: relative;
        left: 16px;
        color: #FFF;
        font-family: Poppins;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
    }

    .contact-buttons {
        padding: 10px 20px;
        height: 36px;
        border-radius: 38px;
        background: #FFF;
        flex-shrink: 0;
        backdrop-filter: blur(3px);
        color: #000;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }


    .fold-o-sub-heading, .fold-f-sub-heading {
        position: relative;
        top: 16px !important;
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .fold-o-img {
        content: url('Assets/MOBILE-FOLD0.svg') !important;
    }

    .fold-t-img {
        content: url('Assets/MOBILE-FOLD2.svg') !important;
        width: 100vw;
    }

    .fold-th-img {
        content: url('Assets/MOBILE-FOLDT.svg') !important;
    }

    .fold-f-img {
        width: 100vw !important;
        content: url('Assets/MOBILE-FOLD4.svg') !important;
    }

    .brand-img-footer {
        width: 100vw;
    }
}



@media (max-width: 500px) {
    .fold-o-heading, .fold-f-heading {
        font-size: 1.8rem;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .fold-o-sub-heading, .fold-f-sub-heading {
        padding-left: 0px !important;
        padding-right: 16px !important;
    }

    .fold-o-right-content-wrapper {
        position: relative;
        top: 80px;
        text-align: left;
        padding-left: 20px;
    }

    .faq-head {
        font-size: 6vw !important;
    }

    .accordion-content p {
        font-size: 0.8rem !important;
    }

    .container {
        padding: 2rem;
    }


}

@media (max-width: 468px) {
    .faq-head {
        font-size: 2.3rem !important;
    }
}

@media (max-width: 396px) {
    .faq-head {
        font-size: 2rem !important;
    }

    .heading-wrapper {
        font-size: 2.3rem;
    }
}



@media (max-width: 353px) {
    .faq-head {
        font-size: 1.7rem !important;
    }
}


@media (max-width: 449px) {
    .fold-o-heading, .fold-f-heading {
        font-size: 2.2rem;
        font-weight: 600;
    }

    .fold-o-sub-heading, .fold-f-sub-heading {
        font-size: 14px !important;
    }
    
    .section-one, .section-two, .section-three, .section-four {
        height: 100vh;
    }

    .footer-sub-heading {
        font-size: 0.8rem;
    }
}

@media (max-width: 425px) {
    .section-one, .section-two, .section-three, .section-four {
        height: 100vh;
    }

    .fold-o-heading, .fold-f-heading {
        font-size: 1.9rem;
    }

    .bn45 {
        height: 40px;
        width: 140px;
    }

    .bn46 {
        height: 40px;
        width: 120px;
    }
}

@media (max-width: 361px) {
    .fold-o-heading, .fold-f-heading {
        font-size: 1.9rem;
    }
}


@media (min-width: 1922px) {
    .section-one, .section-two, .section-three, .section-four {
        height: 100vh;
    }

    .fold-t-img {
        content: url('assets/Big_Screen.svg') !important;
        width: 60vw;
    }
}